:root {
    --primary: #628495;
    --secondary: rgb(38, 36, 36);
}

* {
    box-sizing: border-box;
    margin: 0;
}


body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: whitesmoke;
    width: fit-content;
}

/* header styling */
header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 30px;
    background-color: var(--primary);
}

header h1 {
    color: white;
    display: inline-block;
    font-size: 60px;
    text-shadow: 3px 3px 2px black;
}

header nav {
    padding-top: 15px;
    font-size: 20px;
}

header nav ul li {
    display: inline-block;
    margin-left: 60px;
}

/* link styling */
a {
    color: white;
    text-decoration: none;
}

a:hover {
    box-shadow: 0 5px 25px black;
}

/* cover photo, profile photo, quote styling*/
.hero {
    background-image: url('./images/co_springs2.jpeg');
    height: 800px;
    width: 100%;
    background-position: top center;
    background-repeat: no-repeat;
    display: flex;
}

img {
    height: 300px;
    display: block;
    position: absolute;
    top: 200px;
    left: 50px;
    padding: 30px;
    border-style: double;
    border-radius: 50px;
    border-color: gray;
}

#quote {
    inline-size: 900px;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--secondary);
    text-shadow: 1px 1px 1px white;
    display: flex;
    position: absolute;
    top: 250px;
    left: 400px;
    padding: 20px;
}

/* section styling: about me and my work */
section {
    text-shadow: 3px 3px 1px black;
    margin-bottom: 20px;
    font-size: 30px;
    color: white;
    background-color: var(--primary);
}

/* about me section */
#About-Me {
    padding: 50px;
    height: 300px;
}

#About-Me p {
    flex-wrap: wrap;
    font-size: 30px;
    padding: 10px;
}

/* my work styling */
#My-Work {
    padding: 50px;
    display: flex;
    justify-content: space-between;
    height: fit-content;
}
/* projects */
.grid-wrapper{
    width: 80%;
    display: flex;
}

.projects-grid {
    justify-content: center;
    grid: 400px / auto auto ;
    display: grid ;
    gap: 3px;
    font-size: 20px;
}

.project {
    display: flex;
    opacity: .8;
    padding: 10px;
    color: whitesmoke;
}

p {
    margin: 10px;
    text-decoration: none;
    color: white;
}

/* horiseon project */
.project-horiseon {
    grid-column: auto;
    background-image: url('./images/co_springs1.jpeg');
    background-position: bottom center;
    border: solid black;
    background-size: cover;
    height: 400px;
    width: 600px;
   
}

.project-culinary-climate {
    grid-column: auto;
    background-image: url("./images/culinary-climate-logo.png");
    background-color: rgba(227, 224, 224, 0.114);
    background-size: cover;
    background-position: bottom center;
    border: solid black;
    height: 400px;
    width: 400px;
}

.project-office-organizer {
    grid-column: auto;
    background-image: url("./images/office-organizer-img.jpeg");
    background-size: cover;
    background-position: top center;
    height: 300px;
    width: 600px;    
    border: solid black;
}

.project-weather-app {
    grid-column: auto;
    background-image: url("./images/weather-app-img.jpeg");
    background-size: cover;
    border: solid black;
    height: 400px;
    width: 500px;
}

/* footer section */

footer {
    padding: 40px;
    height: 200px;
    background-color: var(--primary);
    color: white;   
    font-size: 30px;
    text-shadow: 3px 3px 1px black;
} 

footer div {
    display: inline-block;
    margin-left: 20px;
    font-size: 30px;
}

footer div ul {
    margin-left: 200px;
    list-style-type: none;
}

footer div ul li {
    display: inline-block;
    margin-right: 100px;

}

footer a:hover {
    color: black;
    text-shadow: none;
}

@media screen and (max-width: 768px) {
    #quote {
        width: fit-content;
        background-color: #628495;
        opacity: .6;
        color: white;
        text-shadow: 1px 1px 1px black;
    }

    p {
        font-size: medium;
    }

    header h1 {
       font-size: 40px;
    }

    .grid-wrapper {
        width: auto;
    }

    footer h2 {
        font-size: 40px;
    }

}
